API_PORT=3001
VITE_API_BASE_URL=/api
HOST_1_URL=http://host-1:8000
HOST_2_URL=http://host-2:8000
HOST_3_URL=http://host-3:8000
HOST_4_URL=http://host-4:8000
HOST_5_URL=http://host-5:8000
HOST_TIMEOUT_MS=1500
